/* .container{
    width: 100%;
    height: auto;
    background-color: brown;
    background: #007bbf;

    display:flex;
    flex-direction:row;
    justify-content: space-around;
    flex-flow: wrap;
    
}

.box1{
    display:flex;
    width: 100%;
    height: auto;
    border-color: black;
}
.box{
    width: 20%;
    height: 300px;
    background-color: aqua;
   margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
}

/* @media only screen and (max-width:1200px){ 
    .box{background-color: blue;
    width: 40%;}
}
@media only screen and (max-width:600px){
    .box{background-color: blue;
    width: 90%;}
} */


html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    height: 100%;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    background-color: #FFF;

}

img {
    max-width: 100%;
    height: auto;

}

container {
    width: 100%;
    max-width: 1281px;
    margin: 0 auto;

}

.site-header {
    padding-top: 23px;
    padding-bottom: 24px;

    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}

.site-header__container {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin: 24px;
    margin-left: 24px;


}

.site-header__logo {
    text-decoration: none;
    color: #111517;
    font-family: Nunito Sans;
    font-size: 24px;
    /* margin-right: 24px; */
    font-weight: 800;

}

/* .logo{

} */
.site-header__btn {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
}


.site-header__btn-icon {
    margin-right: 8px;
}

.site-header__btn-text {
    margin-left: 24px;
    cursor: pointer;

}

/* MAIN */



.contries__container {
    width: 100%;
    max-width: 1281px;
    margin: 0 auto;

}


.site-main {
    padding-top: 48px;

}

.site-main__top {
    display: flex;
    justify-content: space-between;
    margin-left: 24px;
    margin-right: 24px;

}

.site-main__input-wrapper {
    width: 480px;

    display: flex;
    align-items: center;
    padding: 18px 32px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);

}

.site-main___top-input {
    border: none;
    width: 100%;
    outline-color: transparent;
}

.site-main___top-input::placeholder {

    color: #848484;

    font-size: 14px;

    line-height: 20px;
    font-weight: normal;

}

.site-main__input-icon {

    margin-right: 20px;

}

.site-main__selec {
    width: 200px;
    padding: 18px 24px;
    border: none;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
}

.country {
  
    padding-top: 48px;
}

.contries__list{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-right: -75px;
    margin-bottom: -75px;
    padding: 0;
    list-style: none;




}
.contries__item{
    width: calc(100% / 4 - 75px);
    margin-right: 75px;
    margin-bottom: 75px;

}
.country-card__data-list dd {
    margin-left: 0;
    color: #111517;
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
}

.country-card {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
    overflow: hidden;
}
.contry-card__content{
    padding: 24px;
}


.country-card__data-list dt {
    color: #111517;
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}

.coutry-cart__data-wrapper{
    display: flex;
    align-items: baseline;

}
.coutry-cart__data-wrapper (:last-child){
margin-bottom: 8px;

}